# Segmenting and Clustering Neighbourhoods in Toronto

In [4]:
import pandas as pd 
import numpy as np
import requests

converting the data into the table

In [18]:
wiki_page = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wiki = requests.get(wiki_page)
data = pd.read_html(wiki.content, header=0)[0] 
data.head()

  Postal Code         Community              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [20]:
df = data[data.Neighbourhood != 'Not assigned']
df.head()

  Postal Code         Community                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [22]:
df.groupby(['Postal Code']).first()

               Community                                      Neighbourhood
Postal Code
M1B          Scarborough                                     Malvern, Rouge
M1C          Scarborough             Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                  Guildwood, Morningside, West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V            Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W            Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [25]:
unique_codes = len(df['Postal Code'].unique())
print(unique_codes)

103

In [26]:
df.shape

(103, 3)